.order-notice {
  height: 100%;
  font-size: 36px;
  background-color: rgb(240, 242, 245);

  .notice-action {
    position: relative;
    padding-top: 32px;
    background-color: #fff;
    width: 100%;

    text {
      position: absolute;
      top: 10px;
      right: 24px;
      font-size: 48px;
      color: #fa4a2d;
    }
  }

  .notice-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid rgb(240, 242, 245);
    background-color: #fff;
  }

  .time {
    font-size: 54px;
    padding-left: 12px;
  }

  .remark {
    margin-top: 12px;
  }

  .empty {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
  }
}
