@border-color: #eee;
.account-manage {
  background: @border-color;
  height: 100vh;
  font-size: 28px;

  .toast {
    position: fixed;
    bottom: 100px;
    width: 100%;
    text-align: center;

    .toast-content {
      display: inline-block;
      padding: 24px 36px;
      text-align: center;
      background-color: rgb(38, 38, 38);
      border-radius: 10px;
      font-size: 28px;
      color: #fff;
      image {
        width: 32px;
        margin-right: 16px;
        vertical-align: middle;
      }
    }
  }

  .label {
    width: 150px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    border-bottom: 2px solid @border-color;

    image {
      width: 80px;
      height: 80px;

      &.arrow {
        width: 56px;
        height: 56px;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: calc(100% - 150px);
      text-align: right;
    }
  }

  &-card {
    margin-bottom: 24px;
    background-color: #fff;
    border-top: 4px solid #eee;
  }
}
