.confirm-order {
  background: #f8f9fa;
  min-height: 100vh;
  font-size: 28px;
  padding-bottom: 100px;
  border-top: 1px solid #eee;
  box-sizing: border-box;

  .nan-modal-content {
    padding: 0;
  }
  .donate {
    &-img {
      image {
        width: 60px;
        height: 100px;
        margin-right: 36px;
      }
    }
    &-num {
      color: #666;
      margin-right: 36px;
    }
    &-tag {
      padding: 4px 8px;
      background-color: rgb(248, 199, 201);
      color: rgb(255, 38, 62);
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-type {
    font-weight: 400;
    color: #fefffe;
    line-height: 33px;
    text-align: center;
    background: linear-gradient(306deg, #f7522c 0%, #f16b31 100%);
    padding-top: 80px;
    padding-bottom: 160px;

    > view:first-child {
      font-size: 36px;
      margin-bottom: 16px;
    }
  }

  .delivery-date-item {
    &.is-single {
      position: absolute;
      right: 80px;
      top: 20px;

      &.hasDonate {
        position: relative;
        right: 0;
        top: 0;
      }
    }
    padding: 8px 0;
  }

  &-nav {
    display: flex;
    align-items: center;
    image {
      width: 48px;
      height: 48px;
    }
  }

  &-location {
    image {
      width: 28px;
      height: 34px;
      margin-right: 20px;
    }

    &-info {
      font-size: 30px;
      font-weight: 500;
      color: #333333;
      line-height: 44px;
      > view:last-child {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        line-height: 33px;
        margin-top: 8px;
      }
    }
  }

  .common-card {
    position: relative;
  }

  .delivery-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240, 242, 245);
    padding-bottom: 20px;
    font-size: 30px;
  }

  &-price {
    line-height: 30px;
    text-align: right;
    height: 140px;
    position: relative;
    view:first-child {
      margin-bottom: 38px;
      color: #fa4a2d;
    }

    view:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #666;
      min-width: 100px;
    }

    text {
      font-size: 32px;
    }
  }

  &-info {
    > view {
      margin-bottom: 10px;

      &:not(:first-child) {
        color: #999999;
        line-height: 22px;
      }
    }
  }

  &-tag {
    text {
      padding: 0 10px;
      border-radius: 2px;
      color: #0091ff;
      line-height: 32px;
      border: 1px solid #26a1ff;
    }
  }

  &-color-grey {
    color: #666;
  }

  &-total {
    margin-top: 20px;
    padding-top: 16px;
    border-top: 1px solid #ececec;
    .order-detail-sum {
      color: #f55726;
    }
    text {
      font-size: 32px;
    }
  }

  &-image {
    width: 130px;
    height: 140px;
    box-sizing: border-box;
    margin-right: 40px;
    image {
      width: 100%;
      height: 100%;
    }
  }

  &-item {
    margin: 24px 0;
  }

  &-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;

    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #ececec;

    .total {
      color: #fa4a2d;
      position: absolute;
      right: 160px;
      top: 24px;
    }

    .confirm-order-btn {
      height: 80px;
      line-height: 80px;
      width: 140px;
      margin-left: 20px;
      display: inline-block;
      text-align: center;
      color: #fff;
      background-color: #fa4a2d;
    }
    button {
      float: right;
      width: 140px;
      box-sizing: border-box;
      padding: 12px 24px;
      margin-left: 20px;
      border-radius: 28px;
      background-color: #fff;
      font-size: 24px;
      line-height: 32px;

      &.primary {
        color: #fa4a2d;
        border: 1px solid #fa4a2d;
        background-color: transparent;
      }

      &.plain {
        color: #333;
        border: 1px solid #999999;
      }
    }
  }
}
