.home-page {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 32px;
  box-sizing: border-box;

  .toast {
    position: fixed;
    bottom: 100px;
    width: 100%;
    text-align: center;

    .toast-content {
      display: inline-block;
      padding: 24px 36px;
      text-align: center;
      background-color: rgb(38, 38, 38);
      border-radius: 48px;
      font-size: 28px;
      color: #fff;
      image {
        width: 32px;
        margin-right: 16px;
        vertical-align: middle;
      }
    }
  }

  .search-bar-wrapper {
    padding-top: 20px;
    background: rgb(248 58 30);

    .search-bar {
      background-color: rgb(248 81 54);
      color: #fff;
    }
  }

  .search-icon {
    margin-right: 8px;
  }

  image {
    width: 50px;
  }

  .ad {
    height: 80px;
    text-align: center;
  }

  .search-bar {
    margin: 0 30px;
  }

  .main {
    // padding: 0 32px 1px 32px;
    margin-top: 20px;
  }

  .card {
    background: #fff;
    box-sizing: border-box;
    // box-shadow: 0px 13px 26px 0px rgba(187, 175, 175, 0.14);
    // border-radius: 30px;
    margin-bottom: 32px;
  }

  .news {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    padding: 24px 48px;
  }

  .banner {
    width: 100%;
    height: 400px;

    // background-color: #fff;
    swiper {
      width: 100%;
      height: 100%;
    }

    image {
      width: 100%;
      height: 100%;
    }
  }

  .nav {
    position: relative;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
    .dot {
      width: 32px;
      height: 32px;
      line-height: 30px;
      font-size: 22px;
      position: absolute;
      top: 16px;
      right: 26px;
      color: #fff;
      text-align: center;
      border-radius: 50%;
      background-color: rgb(247 42 64);
    }

    &-item {
      text-align: center;
      font-size: 28px;

      image {
        width: 80px;
        height: 80px;
      }
    }

    .divider {
      width: 1px;
      height: 220px;
      background-color: #e5e4e4;
    }

    swiper {
      width: 100%;
    }
  }

  .invite {
    display: flex;
    font-size: 26px;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    color: #999999;
    line-height: 33px;
    border-top: 1px solid #eaeaea;
    padding-top: 6px;

    image {
      width: 74px;
      height: 84px;
    }

    .back-icon {
      width: 30px;
      height: 30px;
      margin-left: 19px;
      vertical-align: sub;
    }

    &-strong {
      font-size: 26px;
      font-weight: 500;
      color: #333333;
      line-height: 37px;
      margin: 0 6px;
    }
  }

  .notice {
    font-size: 26px;
    padding: 16px 0;
    font-weight: 500;
    color: #f93a4a;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;

    image {
      display: inline-table;
      width: 30px;
      height: 30px;
    }

    &-left {
      position: relative;
      z-index: 10;
      padding-left: 32px;
      background-color: #fff;
      display: inline-flex;
      align-items: center;
      gap: 16px;
      text {
        width: 140px;
      }
    }

    .scroll-bg {
      display: inline-block;
      border-radius: 30px;
      background-color: #ffeef0;
      padding: 4px 16px;
      width: calc(100% - 220px);
    }

    .scroll-wrapper {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
    }

    .scroll {
      display: inline-block;
      position: relative;
      vertical-align: sub;
    }
  }

  .middle {
    height: 150px;
    image {
      width: 100%;
      height: 150px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    flex: 0 0 50%;
    // padding: 0 18px;
    box-sizing: border-box;
    border-right: 1px solid #e5e4e4;
    border-bottom: 1px solid #e5e4e4;

    // &:last-child,
    // &:nth-last-child(2) {
    //   border-bottom: none;
    // }
  }

  .link {
    margin-bottom: 32px;

    &-item {
      background-color: #fff;
      box-shadow: 0px 13px 26px 0px rgba(187, 175, 175, 0.14);
      border-radius: 30px;
      height: 260px;
    }

    image,
    video {
      width: 100%;
      height: 100%;
    }
  }

  .product {
    margin-bottom: 32px;

    image {
      width: 100%;
      height: 240px;
      // margin: 30px 0;
    }

    &-item {
      background-color: #fff;
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      color: #333333;
      padding: 12px;
    }

    &-tag {
      padding: 2px 20px;

      text {
        line-height: 34px;
        padding: 0 20px;
        background: #74c7d7;
        color: #fff;
        border-radius: 17px;
      }
    }
  }
}

.search-bar {
  &-wrapper {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
    position: relative;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: #edeff2;
  padding: 12px 24px;
  font-size: 28px;
  input {
    padding: 12px 24px;
  }
}

@keyframes roll {
  0% {
    left: 0;
  }
  100% {
    left: calc(-100% + 300px);
  }
}
