.home-page {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 32px;
  box-sizing: border-box;

  .home-info {
    background-color: #fff;
  }

  .ad {
    height: 80px;
    text-align: center;
  }

  .news {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    margin-bottom: 24px;
    text-align: center;
    padding: 24px 48px;
  }
}
