.electronic-page {
  background-color: #fafcfd;
  min-height: 100vh;
  font-size: 26px;

  .empty {
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #666;
  }

  .arrow {
    width: 25px;
    height: 16px;
    &-up {
      transform: rotate(180deg);
    }
    &-down {
      transform: rotate(0deg);
    }
  }

  .electronic-date {
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 36px 60px;
    border-bottom: 1px solid #e3e4e5;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    color: rgb(157, 157, 157);

    .date {
      width: 32px;
      height: 32px;
      vertical-align: sub;
      margin-right: 27px;
    }

    .arrow {
      width: 25px;
      height: 16px;
      margin-left: 44px;
    }

    &-seperator {
      display: inline-block;
      width: 1px;
      background-color: #979797;
    }

    .u-date {
      width: 40%;
    }
  }

  .electronic-list {
    background-color: #fff;
    padding: 116px 45px 0 45px;
    font-size: 28px;
    font-weight: 400;
    color: #333333;
    line-height: 40px;
    margin-bottom: 80px;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    &-item {
      padding: 34px 16px;
      border-bottom: 1px solid #e3e4e5;
      &:last-child {
        border-bottom: none;
      }
    }

    &-sum {
      font-size: 40px;
      line-height: 56px;
    }

    &-icon {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #d8d8d8;
      margin-right: 16px;

      &.active {
        background: #fa4a2d;
      }
    }

    &-extra {
      padding-top: 24px;
      color: rgb(157, 157, 157);
      border-radius: 2px;
    }

    &-sum {
      color: #333;
    }

    .yellow {
      color: rgb(255, 184, 99);
    }
  }

  .electronic-total {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 32px 50px;
    font-size: 35px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }
}
