.shop-page {
  min-height: 100vh;
  box-sizing: border-box;
  background: #f8f9fa;
  position: relative;
  .edit {
    padding: 0 24px 24px;
    font-size: 24px;
    text-align: right;
  }

  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop-product {
    &-wrapper {
      // margin-bottom: 90px;
      padding: 20px 0;
      height: calc(100vh - 104px);
      box-sizing: border-box;
    }

    &-item {
      background-color: #fff;
      padding: 0 30px;

      .border {
        padding: 24px 0;
        border-bottom: 1px solid #f0f2f5;
        display: flex;
        align-items: center;
      }
    }

    &-image {
      image {
        width: 160px;
        height: 160px;
      }
    }

    &-content {
      width: 60%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-detail {
      display: flex;
      justify-content: space-between;
      height: 160px;
      flex: 1;
      width: calc(100% - 200px);
      &-title {
        font-size: 26px;
        color: #333333;
        line-height: 36px;
        margin-bottom: 12px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &-info {
        font-size: 22px;
        color: #999999;
        line-height: 30px;
      }

      &-price {
        // font-weight: 500;
        // color: #f55726;
        // line-height: 28px;
        font-size: 30px;
      }

      &-edit {
        flex: 1;
        text-align: center;
        font-size: 32px;
        .product-delete {
          padding: 12px 0;
          background-color: rgb(235, 235, 235);
          border-top: 2px solid #fff;
        }
      }

      &-edit-number {
        padding: 12px 0;
        display: flex;
        background-color: rgb(235, 235, 235);

        .product-edit-action-btn {
          width: 100px;
          background-color: rgb(235, 235, 235);
          &.disable {
            color: #ccc;
          }
        }
        input {
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
        }
      }

      &-number {
        display: flex;
        align-items: center;
        margin-top: 68px;
        border: 1px solid #f0f2f5;
        border-radius: 4px;

        color: #333;
        > text {
          padding: 0 24px;
        }

        input {
          margin: 0 8px;
          text-align: center;
          min-width: 60px;
          max-width: 100px;
          border-right: 1px solid #f0f2f5;
          border-left: 1px solid #f0f2f5;
          font-size: 26px;
        }
      }
    }

    &-price {
      position: absolute;
      right: 20px;
      text-align: center;

      button {
        width: 44px;
        height: 44px;
        background: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 22px;
        text-align: center;
        line-height: 40px;
        padding: 0;
      }
    }

    &-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      padding-left: 20px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
      button {
        background: #ff630f;
        font-size: 26px;
        border-radius: 0;
        color: #ffffff;
        line-height: 56px;
        padding: 17px 50px;
        margin-left: 30px;
      }

      /* 选中后的背景样式 */
      checkbox .wx-checkbox-input.wx-checkbox-input-checked {
        box-sizing: border-box;
        border: none;
        background: #fa4a2d;
      }
    }

    &-total {
      font-size: 32px;
    }
  }

  .product-action-btn {
    width: 44px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    &.disable {
      color: #ccc;
    }
  }

  // checkbox样式
  checkbox .wx-checkbox-input {
    box-sizing: border-box;
    width: 40rpx;
    height: 40rpx;
    border-radius: 50%;
  }

  /* 选中后的背景样式 */
  checkbox .wx-checkbox-input.wx-checkbox-input-checked {
    box-sizing: border-box;
    border: none;
    background: #333;
  }

  /* 选中后的勾子样式 */
  checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
    box-sizing: border-box;
    width: 40rpx;
    height: 40rpx;
    line-height: 40rpx;
    border-radius: 50%;
    text-align: center;
    font-size: 32rpx;
    color: #fff;
    background: transparent;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
  }

  .shop-empty {
    text-align: center;
    padding: 60px 0;
    color: #666;
    // background-color: #fff;

    &-title {
      font-size: 32px;
      font-weight: 500;
      color: #333333;
      line-height: 45px;
    }

    &-tip {
      font-size: 28px;
      color: #999999;
      line-height: 40px;
      margin-top: 9px;
      margin-bottom: 30px;
    }

    &-btn {
      button {
        width: 178px;
        border-radius: 35px;
        border: 2px solid #ff630f;
        font-size: 26px;
        font-weight: 500;
        color: #ff630f;
        line-height: 37px;
        padding: 16px 0;
        background-color: #fff;
      }
    }
  }
}
