page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product-page {
  // padding: 0 35px;
  flex: auto;
  display: flex;
  flex-direction: column;

  .search-bar {
    margin: 0 30px;
  }

  .product-wrapper {
    display: flex;
    flex: auto;
    margin-top: 20px;
    position: relative;
  }

  .product-items {
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 0;
    width: 180px;
    background: #f8f9fa;
    text-align: center;
  }

  .product-list {
    width: 100%;
    scroll-view {
      position: absolute;
      top: 20px;
      left: 200px;
      box-sizing: border-box;
      width: calc(100% - 200px);
      bottom: 0;
      right: 0;
    }

    &-detail {
      flex: 1;
      margin-left: 12px;
      padding-bottom: 28px;
      border-bottom: 1px solid #ebebeb;
    }

    &-title {
      font-size: 26px;
      color: #333333;
      line-height: 37px;
    }

    &-info {
      font-size: 22px;
      font-weight: 400;
      color: #999999;
      line-height: 30px;
      margin-top: 3px;
      margin-bottom: 44px;
    }
    &-image {
      width: 180px;
      height: 180px;
    }
    &-item {
      display: flex;
      margin-bottom: 28px;
      padding-right: 40px;

      image {
        max-width: 100%;
        max-height: 100%;
      }
      .shop-icon {
        width: 44px;
        height: 44px;
      }
    }

    &-price {
      font-size: 22px;
    }
  }

  .product-category {
    font-size: 28px;
    color: #666;
    padding: 36px 12px;
    &.active {
      background-color: #fff;
      color: #fa4a2d;
    }
  }
}
