.change-account {
  background: #f8f9fa;
  min-height: 100vh;
  padding: 20px 30px;
  box-sizing: border-box;

  .user-avatar {
    image {
      width: 80px;
      height: 80px;
      margin-right: 32px;
    }
  }

  .user-list {
    padding: 36px;
    font-size: 30px;
    color: #333333;
    line-height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

    &:last-child {
      border-bottom: none;
    }

    .user-current {
      flex: 1;
      text-align: right;
      image {
        width: 40px;
        height: 30px;
      }
    }
  }

  .user-info {
    > view:last-child {
      margin-top: 8px;
      font-size: 24px;
    }
  }
}
