.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 24px 30px;
  margin-bottom: 20px;
}
