.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common-card {
  background: #ffffff;
  // border-radius: 20px;
  padding: 24px 30px;
  margin-bottom: 20px;
}

.common-toast {
  position: fixed;
  bottom: 200px;
  width: 100%;
  text-align: center;
  padding: 0 32px;
  box-sizing: border-box;
  text {
    display: block;
    padding: 24px 36px;
    text-align: center;
    background-color: rgb(244, 244, 244);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 16px;
    font-size: 28px;
  }
}
